
body{
    text-align:center;
    color: #4A4B50;
    background-color: #E0ADC8;
}
h2, h4{
    color: #E0ADC8;
}
head{
    color: #000000;
}
#quan{
    text-align: center;
}
header{
    background-color: #F0D4E3;
}